.chat_input_main_div {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90%;
    height: auto; //64px
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #22d3ee, #0d9488) border-box;
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 18px;
    display: block;
    margin: 10px auto;
    // z-index: -1;

}

.chat_input_textarea_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
}

.chat_input_textarea {
    flex: 1;
    outline: none;
    min-height: 40px; // 1 line
    max-height: 144px; // ~6 lines (adjust as needed)
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: 40px;
    font-family: Manrope;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    width: 65%;
    padding-top: 8px;
    text-align: left;
}


.chat_input_button_div {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}