.chat_input_main_div {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    width: 90%;
    height: 64px; /* Original height */
    border: 2px solid transparent;
    background: linear-gradient(white, white) padding-box, linear-gradient(to right, #22d3ee, #0d9488) border-box;
    padding-top: 12px;
    padding-right: 8px;
    padding-bottom: 12px;
    padding-left: 16px;
    border-radius: 18px;
    display: block;
    margin: 10px auto;
    transition: height 0.2s ease-in-out; /* Smooth height transition */
}

.chat_input_textarea_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.chat_input_textarea {
    outline: none;
    resize: none;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 144px; /* Max height for 6 lines */
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0%;
    width: 85%;
    padding-top: 8px;
    text-align: left;
}


.chat_input_button_div {
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 12px; /* Ensures button stays at the bottom */
    right: 12px; /* Ensures button stays at the right */
    background: none;
    border: none;
    cursor: pointer;
}