// flex flex-col h-screen bg-white max-w-sm mx-auto overflow-hidden
.chat_container_main_div, .blur_chat_container_main_div, .blur_chat_container_main_div_dark, .chat_container_main_div_dark {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFFFFF;
    overflow: hidden;
}

.blur_chat_container_main_div{
   filter: blur(5px); /* Adjust the blur value as needed */
   transition: filter 0.3s ease-in-out; /* Smooth transition for the blur */
}

.chat_container_main_div_dark, .blur_chat_container_main_div_dark {
    background-color: #1E1E1E;
}

.initial_message_section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    height: auto;
}

.initial_message_container {
    width: 90%;
    height: 112px; // 112px
    padding: 12px 16px;
    border-radius: 30px;
    gap: 10px;
    border: 2px solid #266F6F;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.initial_message_text {
    width: 100%;
    height: auto;
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0;
    text-align: center;
    color: #000000;
}

.suggestions_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    margin-left: 20px;
    gap: 10px;
    // flex-wrap: wrap;
}

.suggestion_item {
        display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 50px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0px 2px 4px 0px #00000040;
    background-color: white;
    font-family: Manrope;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #000000;
    cursor: pointer;
    padding-left: 10px;
}

.messages_container {
    flex: 1;
    overflow-y: auto;
    padding: 16px;
    margin-bottom: 80px; // to avoid overlap with chat input
    width: 100%;
    height: calc(100vh - 250px); // adjust based on header and input heights
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.messages_inner_container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.thinking_message{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.thinking_message > img{
    margin-left: -6px;
    margin-bottom: 2px;
}

.thinking_message > p {
    width: 100%;
    height: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #000000;
}